@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Movies-TAB/TAB<br />
    Somewhere on Earth <span class="glyphicon glyphicon-globe"></span><br />
</address>

<address>
    <strong>Support:</strong>   <a href="moviestabtab@gmail.com">moviestabtab@gmail.com</a><br />    
</address>